## Homeless Encampments in LA

##### Spring 2025
##### Amanda Alonzo
##### I513 Usable AI
##### Indiana University, Bloomington

## Food charity sites by latitude and longitude in LA
### https://data.lacounty.gov/datasets/dd4d0483c6104a19ba3217d054848ace

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import re
import numpy as np
import math

In [3]:
park_data_path = "../Datafiles/"
generated_data_path = "../Datagen/"

In [4]:

#this is generated at enf of 1_eda.ipynb
# it has some features added for dates and close time in days
#write to file with new features added for next notebook: visualization
df = pd.read_csv(generated_data_path + 'homeless_camp_closed_2023_parks_zip_ftr_eng_1.csv', low_memory=False)
df.head(1)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,CreatedByUserOrganization,MobileOS,...,Shape__Area_y,Shape__Length_y,close_time_bins,is_county_ind,park_distance_bins,closed_days_scaled,park_distance_scaled,ZIP Code,JENI Need Tier,JENI_TIER
0,1-3202726931,01/01/2023 08:26:17 AM,01/31/2023 01:44:42 PM,SR Created,LASAN,Homeless Encampment,Closed,Self Service,Self Service_SAN,NaN,...,476404.567383,2824.807047,1.0,0,2,0.039295,0.054729,90063.0,High,4.0

In [7]:
# Food_Distribution
df_food = pd.read_csv(park_data_path  + "Food_Distribution.csv")

In [8]:
df_food.head(1)

,OBJECTID,Latitude,Longitude,Name,Address,City,Zip Code,x,y
0,1,34.0547,-118.261607,CITY OF LOS ANGELES HOUSING AND COMMUNITY INVE...,501 S BIXEL ST,LOS ANGELES,90017,6.482429e+06,1.842390e+06

In [9]:
# calculate distance between lat and long park and homeless camp
# main idea captured from Bing search engine results 

def calculate_distance (lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    r = 6371  # Radius of Earth in kilometers. Use 3956 for miles.

    # Calculate the distance
    distance = r * c

    return distance

In [11]:
df_food['Zip Code'].value_counts()

Zip Code
93534    6
91731    5
90022    5
91335    5
90018    4
        ..
91722    1
90302    1
90805    1
93140    1
91105    1
Name: count, Length: 134, dtype: int64

In [15]:
df_food[df_food['Zip Code']==93534]

,OBJECTID,Latitude,Longitude,Name,Address,City,Zip Code,x,y
14,15,34.701200,-118.144604,LOS ANGELES COUNTY AGING AND DISABILITIES DEPA...,777 W JACKMAN ST,LANCASTER,93534,6.518208e+06,2.077593e+06
139,140,34.686486,-118.147971,ANTELOPE VALLEY PARTNERS FOR HEALTH,44226 10TH ST WEST,LANCASTER,93534,6.517188e+06,2.072240e+06
186,187,34.657589,-118.147610,SHEKINAH WORSHIP CENTER,42640 10TH ST WEST,LANCASTER,93534,6.517281e+06,2.061723e+06
191,192,34.705243,-118.111628,DESERT VINEYARD CHURCH,1011 E AVENUE I,LANCASTER,93534,6.528121e+06,2.079052e+06
200,201,34.703012,-118.137480,GRACE RESOURCES INC,45134 N SIERRA HWY,LANCASTER,93534,6.520350e+06,2.078250e+06
216,217,34.702201,-118.134016,OUR LADY OF CHARITY CONFERENCE - THE SOCIETY O...,45058 TREVOR ST,LANCASTER,93534,6.521391e+06,2.077953e+06

In [39]:
df_food[df_food['Zip Code']==90048]

Empty DataFrame
Columns: [OBJECTID, Latitude, Longitude, Name, Address, City, Zip Code, x, y]
Index: []

In [19]:
df_food.City.value_counts()

City
LOS ANGELES          62
LONG BEACH            9
LANCASTER             8
EL MONTE              5
NORTH HOLLYWOOD       5
                     ..
HAWTHORNE             1
LAKE VIEW TERRACE     1
CHATSWORTH            1
IRWINDALE             1
LA VERNE              1
Name: count, Length: 77, dtype: int64

In [29]:
food_cnt = df_food['Zip Code'].value_counts()

In [32]:
food_cnt = pd.DataFrame(food_cnt)
food_cnt

          count
Zip Code
93534         6
91731         5
90022         5
91335         5
90018         4
...         ...
91722         1
90302         1
90805         1
93140         1
91105         1

[134 rows x 1 columns]

In [34]:
df_merge = pd.merge(df, food_cnt, how ="left", left_on="ZIP Code", right_on="Zip Code")

In [35]:
df_merge.head()

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,CreatedByUserOrganization,MobileOS,...,Shape__Length_y,close_time_bins,is_county_ind,park_distance_bins,closed_days_scaled,park_distance_scaled,ZIP Code,JENI Need Tier,JENI_TIER,count
0,1-3202726931,01/01/2023 08:26:17 AM,01/31/2023 01:44:42 PM,SR Created,LASAN,Homeless Encampment,Closed,Self Service,Self Service_SAN,NaN,...,2824.807047,1.0,0,2,0.039295,0.054729,90063.0,High,4.0,2.0
1,1-3202724721,01/01/2023 08:27:28 AM,01/31/2023 01:34:06 PM,SR Created,LASAN,Homeless Encampment,Closed,Self Service,Self Service_SAN,NaN,...,2824.807047,1.0,0,2,0.039295,0.053349,90063.0,High,4.0,2.0
2,1-3202731911,01/01/2023 08:28:21 AM,01/31/2023 01:51:55 PM,SR Created,LASAN,Homeless Encampment,Closed,Self Service,Self Service_SAN,NaN,...,2824.807047,1.0,0,2,0.039295,0.056524,90063.0,High,4.0,2.0
3,1-3202750751,01/01/2023 08:46:07 AM,02/08/2023 02:04:10 PM,SR Created,LASAN,Homeless Encampment,Closed,Self Service,Self Service,NaN,...,2536.166567,1.0,1,1,0.050136,0.026743,90048.0,Moderate,3.0,NaN
4,1-3202758341,01/01/2023 08:46:54 AM,01/06/2023 03:05:58 PM,SR Created,LASAN,Homeless Encampment,Closed,Mobile App,Self Service,Android,...,2190.429976,NaN,1,1,0.005420,0.016142,90020.0,Moderate,3.0,4.0

In [44]:

df_merge.loc[:, ('count')]  = df_merge['count'].replace({np.nan: 0})

In [45]:
df_merge[df_merge['count'].isna() ]

Empty DataFrame
Columns: [SRNumber, CreatedDate, UpdatedDate, ActionTaken, Owner, RequestType, Status, RequestSource, CreatedByUserOrganization, MobileOS, Anonymous, AssignTo, ServiceDate, ClosedDate, AddressVerified, ApproximateAddress, Address, HouseNumber_x, Direction, StreetName, Suffix, ZipCode, Latitude_x, Longitude_x, Location, TBMPage_x, TBMColumn, TBMRow_x, APC, CD_x, CDMember, NC_x, NCName, PolicePrecinct, ClosedDate_DT, CreatedDate_DT, close_time, close_time_days_x, CreatedDate_YR_x, is_east_la_x, is_north_valley_x, is_south_la_x, is_west_la_x, is_central_x, is_harbor_x, is_south_valley_x, ZipCodeFmt, OBJECTID_x, UNIT_ID_x, LMS_ID_x, PARK_NAME, PARK_LBL, ACCESS_TYP, RPT_ACRES_x, GIS_ACRES_x, AGNCY_NAME, AGNCY_LEV, AGNCY_TYP, AGNCY_WEB, MNG_AGENCY, COGP_TYP, NDS_AN_TYP, NEEDS_ANLZ, TKIT_SUM, AMEN_RPT, PRKINF_CND, AM_OPNSP, AM_TRLS, TRLS_MI_x, TENIS_x, BSKTB_x, BASEB_x, SOCCR_x, MPFLD_x, FITZN_x, SK8PK_x, PCNIC_x, PLGND_x, POOLS_x, SPPAD_x, DGPRK_x, GYM_x, COMCT_x, SNRCT_x, RSTRM_x, TOTAL_GOOD_x, TOTAL_FAIR_x, TOTAL_POOR_x, TYPE, CENTER_LAT_x, CENTER_LON_x, ADDRESS, CITY, ZIP_x, HOURS, PHONES, IS_COUNTY, Shape__Area_x, Shape__Length_x, park_distance, ...]
Index: []

[0 rows x 155 columns]

In [47]:
df_merge["count"].value_counts()

count
0.0    20309
1.0    18700
2.0    16929
4.0     4003
3.0     2358
5.0      805
Name: count, dtype: int64

In [49]:
df_merge.rename(columns={'count':'food_center_count'}, inplace=True)

In [50]:
# Save to file for next step  
df_merge.to_csv(generated_data_path +'homeless_camp_closed_2023_parks_zip_food_ftr_eng_1.csv', index=False)